<launch>
    <arg name="pcd_file" default="/home/sh/catkin_ws/pcd/lab_filtered.pcd" />
    <arg name="z_threshold" default="1.0" />

    <param name="pcd_file" value="$(arg pcd_file)" />
    <param name="z_threshold" value="$(arg z_threshold)" />

    <node pkg="pcd_divider" name="pcd_divider_node" type="pcd_divider_node" output="screen">
        <param name="pcd_file" value="$(arg pcd_file)" />
        <param name="z_threshold" value="$(arg z_threshold)" />
    </node>
</launch>
